.mapPageContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.mapPage {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
}

